/*--------------------- Responsive ---------------------*/

/* Tablets */
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  .home {
    text-align: center;
  }

  .about {
    text-align: center;
  }

  .services .box-container,
  .portfolio .box-container {
    grid-template-columns: 1fr 1fr;
  }
}

/* Móviles medianos */
@media (max-width: 768px) {
  header #menu-btn {
    display: block;
  }

  .header .navbar {
    width: 25rem;
    position: absolute;
    right: 0;
    top: 100%;
    background: var(--bg-color);
    border-left: 1px solid var(--border);
    transform: translateX(100%);
    transition: 0.3s ease;
    height: calc(100vh - 6rem);
    overflow-y: auto;
  }

  .header .navbar.active {
    transform: translateX(0);
  }

  .header .navbar a {
    display: block;
    padding: 1.5rem;
    color: var(--accent-color);
    border-bottom: 1px solid var(--border);
  }

  .services .box-container,
  .portfolio .box-container {
    grid-template-columns: 1fr;
  }
}

/* Móviles pequeños */
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  section, header {
    padding: 1rem;
  }

  .home .text-2 {
    font-size: 3rem;
  }

  .btn {
    padding: 0.8rem 1.8rem;
    font-size: 1.2rem;
  }
}
